[submodule "third_party/imgui"]
	path = third_party/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "third_party/recast"]
	path = third_party/recast
	url = https://github.com/recastnavigation/recastnavigation.git
